@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css start */

/* .input:focus,
.input:focus-within {
  outline-color: transparent;
} */


/* .radio-error:checked,
.radio-error[aria-checked="true"] {

  border-color: #E4E4E7;


} */

/* .radio-error {

  --tw-border-opacity: 1;
  border-color: #E4E4E7;
} */

/* .radio-error:checked,
.radio-error[aria-checked="true"] {

  border-color: #E4E4E7;
  background-color: #F7941D;

} */

/* .radio {
  width: 16px;
  height: 16px;
} */


/* @media (hover: hover) {
  .radio-error:hover {
    --tw-border-opacity: 1;
    border-color: #E4E4E7;
  }
} */

/* Custom styles for radio buttons */

/* .radio_parent input[type="radio"]:checked {
  background-color: #F7941D;
  border-color: #E4E4E7;
} */



/* Hide the default radio button */
.radio_parent input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #E4E4E7;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

}

/* Create the dot inside the radio button */
.radio_parent input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #F7941D;
  border-radius: 50%;
}


.radio_parent label {
  cursor: pointer;
}


.footer {
  padding-top: 20px;

  padding-left: 20px;
}


.input:focus,
.input:focus-within {
  border-color: transparent;
  outline-width: 1px;
  outline-offset: 1px;
  outline-color: var(--fallback-bc, oklch(var(--bc)/0.2));
}

/* custom css end */